@{
    ViewBag.Title = "About Max";
}
<h2>@ViewBag.Title.</h2>

<p>
    I am a passionate business student at Ohio University specializing in Management Information Systems and Business Analytics with a minor in Finance.

    I am a problem solver, seeking a full time position in the IT space. I would like to work at a company that invests in their employees personal and professional development, with an emphasis on always getting better. I enjoy working on complex problems that will be challenging and force me to learn and grow in order to solve them. I thrive in positions where there is always more than enough work to be done.
</p>
