@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    140 Mill Street 
    Apartment 1A<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.668.9692
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mc559415@ohio.edu">mc559415@ohio.edu</a><br />
</address>